*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Source+Sans+Pro&display=swap');

body{
    background-color: rgb(80, 80, 211);
    background-image: url('https://wallpaper.dog/large/988057.jpg');
    font-family: 'Source Sans Pro', sans-serif;
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#box{
    width: 40%;
    height: 325px;
    padding: 15px;
    box-shadow: 0px 0px 0px gray;
    background-color: white;
    border-radius: 5px;
}
.row{
    width: 100%;
    margin: 2rem;
    margin-left: 0;
}

.btn{
    width: 245px;
    padding: 7px;
    margin-left: 160px;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: rgb(80, 80, 211);
    cursor: pointer;
}